button {
    background-color: #22333B;
    color: #E6ECFF;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
}

button:hover{
    cursor: pointer;
}

utton--Light{
    background-color: white;
}